.layout {
  width: 100vw;
  padding: 0;
  margin: 0;

  aside {
    width: 300px;
    border-right: $border;
    min-height: 100vh;
    margin-right: 0px;
    padding-top: 30px;
    .navbar-brand {
      padding-left: 34px;
    }
    .sidebar-title {
      text-transform: uppercase;
      color: $grey-300;
      font-weight: 700;
      letter-spacing: 2.4px;
      font-size: 12px;
      padding-top: 54px;
      padding-left: 34px;
    }
    .nav-link {
      display: flex;
      align-items: center;
      background: #ffffff;
      color: $grey-300;
      border-radius: 0 50px 50px 0;
      width: 276px;
      padding-top: 14px;
      padding-bottom: 15px;
      padding-left: 34px;
      font-size: 15px;
      font-weight: 700;
    }
    .nav-link.active {
      background: $primary-200;
      color: #ffffff;
    }
    .nav-link:hover {
      background: $primary-50;
      color: $primary-200;
      cursor: pointer;
    }
    .nav-link:hover .icon {
      filter: invert(39%) sepia(80%) saturate(854%) hue-rotate(213deg)
        brightness(83%) contrast(86%);
    }
    .nav-link .icon svg {
      height: 16px;
      width: 16px;
      margin-right: 16px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 96px;
    border-bottom: $border;
    padding-left: 24px;
    padding-right: 32px;
    .navbar-btns {
      display: flex;
      align-items: center;
      .btn {
        cursor: pointer;
        display: inline-block;
        background-color: $primary-200 !important;
        border: transparent;
        color: $white;
        border-radius: 24px;
        padding: 15px 25px;
        font-size: 15px;
        line-height: 18.9px;
      }
      .btn-disabled {
        cursor: not-allowed;
        background-color: $primary-100;
        opacity: 25%;
      }
      .btn-nav {
        margin-right: 24px;
      }
    }
  }

  main {
    color: $grey-300;
    min-height: calc(100vh - 96px);
    min-width: calc(100vw - 300px);
  }
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);

  .form {
    position: absolute;
    top: 5%;
    left: 50%;
    height: auto;
    width: 480px;
    margin-left: -260px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 32px;
  }
  .form-dark {
    color: #ffffff;
    background-color: #20212c;
  }
  .form-title {
    font-size: 18px;
  }
  .form-group {
    margin-top: 24px;
  }
  .form-input-edit {
    display: flex;
    flex-direction: column;
  }
  .form-label {
    font-size: 12px;
    font-weight: 700;
    color: $grey-300;
    line-height: 8px;
  }
  .form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .form-control {
    display: block;
    align-items: left;
    font-size: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    border-radius: 4px;
    margin-top: 9px;
    width: 100%;
    border: 1px solid $grey-200;
    font-family: $bodyFont;
    font-size: 13px;
    line-height: 23px;
  }
  .form-control-dark {
    background-color: $grey-500;
    border: 1px solid $grey-300;
    color: #ffffff;
  }
  select {
    background: url(../../assets/images/icon-chevron-down.svg) no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    option,
    label {
      color: #ffffff;
    }
  }
  .form-icon {
    padding-top: 9px;
    margin-left: 16px;
  }
  .btn-modal {
    cursor: pointer;
    display: inline-block;
    border: transparent;
    border-radius: 24px;
    padding: 15px 25px;
    font-size: 15px;
    line-height: 18.9px;
  }
  .btn-light {
    background-color: $primary-100 !important;
    color: $primary-200;
    margin-top: 12px;
  }
  .btn-light:hover,
  .btn-dark-mode {
    background-color: $white !important;
    border: 1px solid $primary-200;
  }
  .btn-dark-mode {
    margin-top: 12px;
  }

  .btn-dark {
    background-color: $primary-200 !important;
    border: transparent;
    color: $white;
    margin-top: 24px;
  }
}
